body {
  background: #ff6347;
}

.titulo {
  background: white;
  width: 100%;
  height: 30px;
  margin: 35px 0px;
}

.boxLogin {
  background: white;
  height: 30px;
  padding: 40px 0px;
}

#titulo2 {
  background-color: aqua;
}

.boxRegister {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
